@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
  --primary-font: "Poppins";
  --secondary-font: sans-serif;
  // --primary-font: "Plus Jakarta Sans", sans-serif;
  --white: #fff;
  --black: #000;
  --primary: #9a28a3;
  --secondary: #230026;
  --ascent: #008ee1;
  --success-medium: #009262;
  --success-bright: #cceeed;
  --warning-dark: #e48900;
  --warning-bright: #ffe8dd;
  --error: #c33025;
  --fs-10: 10px;
  --fs-12: 12px;
  --fs-14: 14px;
  --fs-16: 16px;
  --fs-24: 24px;
  --fs-32: 32px;
  --fs-64: 64px;
  --inprogress-badge: #fff7e0;
  --inprogress-text: #ffb400;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 600;
  --fw-dark: 700;
  --table-header: #e3e7ff;
  --ancent-op-2: rgba(158, 171, 255, 0.4);
  --green-card: rgba(9, 174, 167, 0.8);
  --orange-card: rgba(255, 146, 90, 0.8);
  --blue-card: rgba(79, 163, 216, 0.8);
  --grey-card: rgba(176, 168, 185, 0.8);
  --red-card: rgb(255, 93, 113, 0.8);
  --table-header-odd: #f6f4f6;
  --completed-chart: #00aba5;
  --pending-chart: #fda375;
  --rejected-chart: #fd7787;
  --themeOne: #062f6e;
  --themeTwo: #495ca2;
  --themeThree: #ebeeff;
  --themeFour: #d0a617;
  --borderBasicRadius: 4px;
  --table-header-bg: rgba(158, 171, 255, 0.2);
  --lightGreenCircle: #cefbe3;
  --blue-light: #def0fb;
  --sucessCheck: #4caf50;
  --trow: #f9f2fa;
  --text-op: rgba(158, 158, 158, 0.29);
  --dark-op-10: rgba(0, 0, 0, 0.1);
  --dark-op-08: rgba(0, 0, 0, 0.08);
  --primary-op-10: rgba(156, 40, 164, 0.1);
  --actionWrapper: rgba(156, 40, 163, 0.06);
  --secondary-op: rgb(35, 0, 38, 0.8);
  --dark-bg-op-80: rgb(0, 0, 0, 0.8);
  --primary-op-40: rgba(156, 40, 163, 0.4);
  --primary-op-60: rgba(156, 40, 163, 0.6);
  --chipLabel: rgba(158, 158, 158, 0.1);
  --note-background: #fff0d9;
  --error-info: #d32f2f;
  --white-op-25: rgba(255, 255, 255, 0.25);
}

$primaryFont: var(--primary-font);
$white: var(--white);
$black: var(--black);
$primary: var(--primary);
$primary-2: color-mix(in srgb, var(--primary), $white 20%);
$primary-3: color-mix(in srgb, var(--primary), $white 40%);
$primary-4: color-mix(in srgb, var(--primary), $white 60%);
$secondary: var(--secondary);
$secondary-dark: color-mix(in srgb, var(--secondary), $white 20%);
$ascent: var(--ascent);
$text-1: var(--secondary);
$text-2: color-mix(in srgb, var(--white), $black 70%);
$text-3: color-mix(in srgb, var(--white), $black 56%);
$text-4: color-mix(in srgb, var(--white), $black 38%);
$text-5: color-mix(in srgb, var(--white), $black 5%);
$active-blue-op: color-mix(in srgb, var(--ascent), $white 5%);
$success-medium: var(--success-medium);
$success-bright: var(--success-bright);
$warning-dark: var(--warning-dark);
$warning-bright: var(--warning-bright);
$error: var(--error);
$error-dark: color-mix(in srgb, var(--error), $white 22%);
$error-light: color-mix(in srgb, var(--error), $white 80%);
$fs-10: var(--fs-10);
$fs-12: var(--fs-12);
$fs-14: var(--fs-14);
$fs-16: var(--fs-16);
$fs-24: var(--fs-24);
$fs-32: var(--fs-32);
$fs-64: var(--fs-64);
$dark-op-10: var(--dark-op-10);
$dark-op-08: var(--dark-op-08);
$background-primary: color-mix(in srgb, var(--white), $black 2%);
$grey-bg: color-mix(in srgb, var(--white), $black 3%);
$inprogress-badge: var(--inprogress-badge);
$inprogress-text: var(--inprogress-text);
$green-card: var(--green-card);
$orange-card: var(--orange-card);
$blue-card: var(--blue-card);
$grey-card: var(--grey-card);
$red-card: var(--red-card);
$ls-login-leftBG: color-mix(in srgb, var(--white), $black 6%);
$text-op: var(--text-op);
$fw-light: var(--fw-light);
$fw-regular: var(--fw-regular);
$fw-medium: var(--fw-medium);
$fw-bold: var(--fw-bold);
$fw-dark: var(--fw-dark);
$grey-dark: color-mix(in srgb, var(--black), $white 25%);
$ancent-op-2: var(--ancent-op-2);
$primary-op-10: var(--primary-op-10);
$input-disable: color-mix(in srgb, var(--white), $dark 5%);
$table-header: var(--table-header);
$table-header-odd: var(--table-header-odd);
$completed-chart: var(--completed-chart);
$pending-chart: var(--pending-chart);
$rejected-chart: var(--rejected-chart);

$themeOne: var(--themeOne);
$themeTwo: var(--themeTwo);
$themeThree: var(--themeThree);
$themeFour: var(--themeFour);
$borderBasicRadius: var(--borderBasicRadius);
$actionWrapper: var(--actionWrapper);
$shadow-effect: 0px 4px 20px 0px $dark-op-10;
$table-header-bg: var(--table-header-bg);
$chipLabel: var(--chipLabel);
$lightGreenCircle: var(--lightGreenCircle);
$secondary-op: var(--secondary-op);
$blue-light: var(--blue-light);
$light-bg: color-mix(in srgb, var(--white), $black 4%);
$dark-bg-op-80: var(--dark-bg-op-80);
$trow: var(--trow);
$primary-op-40: var(--primary-op-40);
$primary-op-60: var(primary-op-60);
$note-background: var(--note-background);
$errorInfo: var(--error-info);
$white-op-25: var(--white-op-25);
